<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>menu</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">修改菜单</div>
<!-- 内容 -->
<div class="content">
    <form class="form-horizontal" th:action="@{/rest/menu/edit}" th:object="${menu}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" th:value="*{name}"
                       placeholder="Name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="code" id="code" th:value="*{code}" placeholder="Code"/>
            </div>
        </div>
        <div class="form-group">
            <label for="resource" class="col-sm-2 control-label">Resource</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="resource" id="resource" th:value="*{resource}" placeholder="Resource"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" id="description" th:value="*{description}" placeholder="Description"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/rest/menu/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
