<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suneee.dwserverdm.mapper.DwMetricMappingMapper">
  <resultMap id="BaseResultMap" type="com.suneee.dwserverdm.domain.DwMetricMapping">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="gmt_create" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="gmt_modified" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="source_table" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="source_column" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="column_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="column_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="column_comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expression" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, source_table, source_column, column_name, column_type, 
    column_comment, expression
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dw_metric_mapping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dw_metric_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suneee.dwserverdm.domain.DwMetricMapping">
    insert into dw_metric_mapping (id, gmt_create, gmt_modified, 
      source_table, source_column, column_name, 
      column_type, column_comment, expression
      )
    values (#{id,jdbcType=INTEGER}, #{gmtCreate,jdbcType=DATE}, #{gmtModified,jdbcType=DATE}, 
      #{sourceTable,jdbcType=VARCHAR}, #{sourceColumn,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, 
      #{columnType,jdbcType=VARCHAR}, #{columnComment,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suneee.dwserverdm.domain.DwMetricMapping">
    insert into dw_metric_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="sourceTable != null">
        source_table,
      </if>
      <if test="sourceColumn != null">
        source_column,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
      <if test="columnType != null">
        column_type,
      </if>
      <if test="columnComment != null">
        column_comment,
      </if>
      <if test="expression != null">
        expression,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=DATE},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=DATE},
      </if>
      <if test="sourceTable != null">
        #{sourceTable,jdbcType=VARCHAR},
      </if>
      <if test="sourceColumn != null">
        #{sourceColumn,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnComment != null">
        #{columnComment,jdbcType=VARCHAR},
      </if>
      <if test="expression != null">
        #{expression,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suneee.dwserverdm.domain.DwMetricMapping">
    update dw_metric_mapping
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=DATE},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=DATE},
      </if>
      <if test="sourceTable != null">
        source_table = #{sourceTable,jdbcType=VARCHAR},
      </if>
      <if test="sourceColumn != null">
        source_column = #{sourceColumn,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        column_type = #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnComment != null">
        column_comment = #{columnComment,jdbcType=VARCHAR},
      </if>
      <if test="expression != null">
        expression = #{expression,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suneee.dwserverdm.domain.DwMetricMapping">
    update dw_metric_mapping
    set gmt_create = #{gmtCreate,jdbcType=DATE},
      gmt_modified = #{gmtModified,jdbcType=DATE},
      source_table = #{sourceTable,jdbcType=VARCHAR},
      source_column = #{sourceColumn,jdbcType=VARCHAR},
      column_name = #{columnName,jdbcType=VARCHAR},
      column_type = #{columnType,jdbcType=VARCHAR},
      column_comment = #{columnComment,jdbcType=VARCHAR},
      expression = #{expression,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>