<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>permissionList</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/ztree/metroStyle/metroStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstraptable/bootstrap-table.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstraptable/bootstrap-table-tree-column.css}"/>
    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/ztree/jquery.ztree.core.js}"></script>
    <script th:src="@{/js/bootstraptable/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootstraptable/bootstrap-table-tree-column.js}"></script>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">菜单列表</div>
<!-- 内容 -->
<div class="content">
    <!--<table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Resource</th>
            <th>Description</th>
            <th>操作</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="permission,permissionStat : ${permissions}">
            <th scope="row" th:text="${permissionStat.index+1}"></th>
            <td th:text="${permission.name}"></td>
            <td th:text="${permission.code}"></td>
            <td th:text="${permission.resource}"></td>
            <td th:text="${permission.description}"></td>
            <td><a th:href="@{/simple/permission/toEdit(id=${permission.id})}">编辑</a></td>
            <td><a th:href="@{/simple/permission/delete(id=${permission.id})}">删除</a></td>
        </tr>
        </tbody>
    </table>-->
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/simple/permission/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 control-label">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 control-label">
        <h1>Tree Column</h1>
        <p></p>
        <table id="table" class="table table-hover"></table>
    </div>
</div>

<script th:inline="javascript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {
            name: "test1", open: true, children: [
            {name: "test1_1"}, {name: "test1_2"}]
        },
        {
            name: "test2", open: true, children: [
            {name: "test2_1"}, {name: "test2_2"}]
        }
    ];
    $(function () {
        // zTree
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        // bootstrap table
        var arr = [
            {
                "id": 0,
                "name": "Item 0",
                "price": "$0"
            },
            {
                "id": 1,
                "name": "Item 1",
                "price": "$1"
            },
            {
                "id": 11,
                "pid": 1,
                "name": "Item 11",
                "price": "$1"
            },
            {
                "id": 111,
                "pid": 11,
                "name": "Item 111",
                "price": "$1"
            },
            {
                "id": 112,
                "pid": 11,
                "name": "Item 112",
                "price": "$1"
            },
            {
                "id": 113,
                "pid": 11,
                "name": "Item 113",
                "price": "$1"
            },
            {
                "id": 12,
                "pid": 1,
                "name": "Item 12",
                "price": "$1"
            },
            {
                "id": 13,
                "pid": 1,
                "name": "Item 13",
                "price": "$1"
            },
            {
                "id": 2,
                "name": "Item 2",
                "price": "$2"
            },
            {
                "id": 3,
                "pid": 2,
                "name": "Item 3",
                "price": "$3"
            },
            {
                "id": 4,
                "name": "Item 4",
                "price": "$4"
            },
            {
                "id": 5,
                "name": "Item 5",
                "price": "$5"
            }
        ];

        var table = $('#table');
        table.bootstrapTable({
            data: arr,
//            url:"",
//            method:"post",
            treeShowField: 'name',
            idField: 'id',
            parentIdField: 'pid',
            striped: true, // 是否显示行间隔色
            columns: [
//                {
//                    checkbox: false
//                },
                {
                    field: 'name',
                    title: '名称',
//                    align: 'center',
//                    valign: 'middle',
                    width: '200px',
                }, {
                    field: 'id',
                    title: 'ID',
                }, {
                    field: 'pid',
                    title: 'PID'
                }, {
                    field: 'price',
                    title: '价格'
                }
            ]
        });

    });
</script>

</body>
</html>