<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>permissionList</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstraptable/bootstrap-table.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstraptable/bootstrap-table-tree-column.css}"/>
    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstraptable/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootstraptable/bootstrap-table-tree-column.js}"></script>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">菜单列表</div>
<!-- 内容 -->
<div class="content">
    <table id="table" class="table table-hover"></table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/simple/permission/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

<script th:inline="javascript">
    // 获取相对路径 - /**/作用是为了不让编辑器报错
    var addPath = new String(/*[[@{/simple/permission/toAdd}]]*/);
    var editPath = new String(/*[[@{/simple/permission/toEdit}]]*/);
    var deletePath = new String(/*[[@{/simple/permission/delete}]]*/);
    $(function () {
        // bootstrap table
        var arr = [[${permissions}]];
        var table = $('#table');
        table.bootstrapTable({
            data: arr,
            // url:"",
            // method:"post",
            treeShowField: 'name',
            idField: 'id',
            parentIdField: 'parentId',
            striped: true, // 是否显示行间隔色
            columns: [
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'parentId',
                    title: '父编号',
                    visible: false
                }, {
                    field: 'name',
                    title: '名称',
                    width: '200px'
                }, {
                    field: 'permission',
                    title: '权限'
                }, {
                    field: 'resourceType',
                    title: '类型'
                }, {
                    field: 'url',
                    title: '资源地址'
                }, {
                    field: 'valid',
                    title: '是否有效',
                    formatter: function (value, row, index) {
                        if (value) {
                            return "有效";
                        } else {
                            return "无效";
                        }
                    }
                }, {
                    field: 'description',
                    title: '描述'
                }, {
                    field: 'id',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var editA = "<a href=" + editPath + "?id=" + row.id + ">编辑</a>";
                        var deleteA = "<a href=" + deletePath + "?id=" + row.id + ">删除</a>";
                        // if(row.resourceType == "menu"){}
                        return editA + "&nbsp;&nbsp;" + deleteA;
                    }
                }
            ]
        });

    });
</script>

</body>
</html>