<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>permissionAdd</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectize/selectize.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectize/selectize.bootstrap3.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/ztree/metroStyle/metroStyle.css}"/>
    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/ztree/jquery.ztree.all.js}"></script>
    <script th:src="@{/js/selectize/standalone/selectize.min.js}"></script>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">添加菜单</div>
<!-- 内容 -->
<div class="content">
    <form class="form-horizontal" th:action="@{/simple/permission/add}" method="post">

        <div class="form-group">
            <label for="parentId" class="col-sm-2 control-label">父级</label>
            <div class="col-sm-4">
                <input type="text" class="hide form-control" name="parentId" id="parentId" disabled/>
                <ul id='treeDemo' class='ztree'></ul>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" id="name" placeholder="Name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="permission" class="col-sm-2 control-label">Permission</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="code" id="permission" placeholder="Permission"/>
            </div>
        </div>
        <div class="form-group">
            <label for="resourceType" class="col-sm-2 control-label">ResourceType</label>
            <div class="col-sm-4">
                <!-- TODO: 现在下拉框值域写死在前台 -->
                <select id="resourceType" name="resourceType" class="selectize-control" placeholder="选择一个...">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Url</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="url" id="url" placeholder="Url"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="description" id="description" placeholder="Description"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" value="Submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/simple/permission/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>

<script th:inline="javascript">
    var permissions = [[${permissions}]];
    $(function () {
        // zNode
        permissions.forEach(function (e) {
            zNodes.push({id: e.id, parentId: e.parentId, name: e.name, open: true});
        });
        // zTree
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        view: {
            selectedMulti: false // 按住ctrl无法多选
        },
        check: {
            enable: true,
            chkStyle: "radio", // 单选
            radioType: "all" // 整颗树内单选
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "parentId",
            }
        },
        callback: {
            beforeCheck: beforeCheck,
            onCheck: onCheck,
            onClick: onClick
        }
    };
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [];
    // radio on check or not check
    function beforeCheck(treeId, treeNode) {
        // console.log(treeNode.checked);
        if (treeNode.checked) { // 取消勾选
            $("#parentId").val("");
        } else { // 勾选
            $("#parentId").val(treeNode.id);
        }
    }
    // radio on check
    function onCheck(e, treeId, treeNode) {
        console.log("[ " + getTime() + " onCheck ];" + treeNode.name);
    }
    // node on click
    function onClick(srcEvent, treeId, node, clickFlag) {
        // 选中内容与选中radio联动
        if (node.nocheck === false) {
            checkNode(!node.checked);
        }
    }
    // check radio manually
    function checkNode(flag) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = zTree.getSelectedNodes();
        for (var i = 0, l = nodes.length; i < l; i++) {
            zTree.checkNode(nodes[i], flag, null, true);
        }
    }
    // get current time
    function getTime() {
        var now = new Date(),
            h = now.getHours(),
            m = now.getMinutes(),
            s = now.getSeconds(),
            ms = now.getMilliseconds();
        return (h + ":" + m + ":" + s + " " + ms);
    }
    /**
     * 激活selectize
     */
    $('#resourceType').selectize({
        valueField: "name",
        labelField: "text",
        searchField: "name",
        sortField: {
            field: 'text',
            direction: 'asc'
        },
        options: [{name: "menu",text:"菜单"},{name: "button",text:"按钮"}],
        items: ["menu"],
        delimiter: ",",
        create: false,
        dropdownParent: null
    });
</script>

</body>
</html>
