<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>permissionEdit</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectize/selectize.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectize/selectize.bootstrap3.css}"/>
    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/selectize/standalone/selectize.min.js}"></script>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">修改菜单</div>
<!-- 内容 -->
<div class="content">
    <form class="form-horizontal" th:action="@{/simple/permission/edit}" th:object="${permission}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" id="name" th:value="*{name}" placeholder="Name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="permission" class="col-sm-2 control-label">Permission</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="code" id="permission" th:value="*{permission}"
                       placeholder="Permission"/>
            </div>
        </div>
        <div class="form-group">
            <label for="resourceType" class="col-sm-2 control-label">ResourceType</label>
            <div class="col-sm-4">
                <!-- TODO: 现在下拉框值域写死在前台 -->
                <select id="resourceType" name="resourceType" class="selectize-control" placeholder="选择一个..." disabled>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Url</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="url" id="url" th:value="*{url}" placeholder="Url"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="description" id="description" th:value="*{description}"
                       placeholder="Description"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" value="Submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/simple/permission/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>

    <script th:inline="javascript">
        var permission = [[${permission}]];
        $(function () {
            // 设置默认选中
//        var resourceTypeSelect = $("#resourceType")[0].selectize;
//        resourceTypeSelect.addItem(permission.resourceType);
        });
        /**
         * 激活selectize
         */
        $('#resourceType').selectize({
            valueField: "name",
            labelField: "text",
            searchField: "name",
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            options: [{name: "menu", text: "菜单"}, {name: "button", text: "按钮"}],
            items: [permission.resourceType],
            delimiter: ",",
            create: false,
            // hideSelected:true, // 已选的不再显示在列表
            dropdownParent: null
        });
    </script>
</div>
</body>
</html>
