<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>userList</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectize/selectize.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectize/selectize.bootstrap3.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/selectize/standalone/selectize.min.js}"></script>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">用户列表</div>
<!-- 内容 -->
<div class="content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Login Name</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Nick Name</th>
            <th>Email</th>
            <th>操作</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user,userStat : ${users}">
            <th scope="row" th:text="${userStat.index+1}"></th>
            <td th:text="${user.loginName}"></td>
            <!-- th:if满足条件才显示标签 -->
            <td th:text="${not #lists.isEmpty(user.roles)}?${user.roles[0].name}:''"></td>
            <!--&lt;!&ndash; 文本内联 &ndash;&gt;-->
            <!--<td th:each="role : ${user.roles}" th:inline="text">-->
            <!--[[${role.name}]]-->
            <!--</td>-->
            <!--&lt;!&ndash; 脚本内联 &ndash;&gt;-->
            <!--<script th:each="role,roleStat : ${user.roles}" th:inline="javascript">-->
            <!--/*<![CDATA[*/-->
            <!--var str = [[${roleStat.size}]];-->
            <!--var index = [[${roleStat.index}]];-->
            <!--if (index == 0) {-->
            <!--alert(str);-->
            <!--}-->
            <!--/*]]>*/-->
            <!--</script>-->
            <td th:text="${user.phone}"></td>
            <td th:text="${user.nickName}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{/user/toEdit(id=${user.id})}">编辑</a></td>
            <td><a th:href="@{/user/(id=${user.id})}">冻结</a></td>
            <td><a href="javascript:void(0);"
                   th:onclick="'showRoleModal(\''+${user.id}+'\',\''+${user.loginName}+'\')'">关联角色</a></td>
            <td><a th:href="@{/user/delete(id=${user.id})}">删除</a></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-2 control-label">
            <a href="/toAdd" th:href="@{/user/toAdd}" class="btn btn-info">add</a>
        </div>
    </div>
</div>

<!-- 引入footer - 通过tag名称引用 -->
<!--<header th:replace="common/footer :: footer"></header>-->

<!-- 模态框（Modal） -->
<div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="roleModalLabel">
                    关联角色
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input id="userId" type="hidden"/>
                    <div class="form-group">
                        <label for="userLoginName" class="col-sm-3 control-label">用户：</label>
                        <div class="col-sm-8">
                            <p id="userLoginName" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-3 control-label">选择角色：</label>
                        <div class="col-sm-8">
                            <select id="role" multiple class="selectize-control" placeholder="选择一个...">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="associateRole()">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script th:inline="javascript">
    $(function () {
        // 隐藏模态框
        $("#roleModal").modal("hide");
    });

    /**
     * 激活selectize
     * 插件用法参考官方使用文档：https://github.com/selectize/selectize.js/blob/master/docs/usage.md
     * 和API文档：https://github.com/selectize/selectize.js/blob/master/docs/api.md
     */
    $('#role').selectize({
        maxItems: null,// The max number of items the user can select. null allows an unlimited number of items.
        valueField: "id",// The name of the property to use as the value when an item is selected.
        labelField: "name",// The name of the property to render as an option / item label (not needed when custom rendering functions are defined).
        searchField: "name",// An array of property names to analyze when filtering options.
        sortField: "name",// A single field or an array of fields to sort by.
        options: [],// An array of the initial options available to select;
        items: [],// An array of the initial selected values.
        delimiter: ",",// The string to separate items by.
        onInitialize: getRoles(),// Invoked once the control is completely initialized.
        /*
        // autocomplete-实时查询（options越来越多）
        preload: true,
        load: function (query, callback) {
            loadOptions(query, callback);
        },
        */
        create: false,// Allows the !user! to create new items that aren't in the initial list of options.
        dropdownParent: null// The element the dropdown permission is appended to. This should be 'body' or null. If null, the dropdown will be appended as a child of the Selectize control.
    });

    // autocomplete示例
    function loadOptions(query, callback) {
        // 未输入时候选为空
        if (!query.length) return callback();
        $.ajax({
            url: "../simple/role/listNameIsLike",
            type: "post",
            dataType: "json",
            data: {
                name: query
            },
            success: function (data) {
                callback(data);
            },
            error: function (e) {
                // TODO: 统一错误处理
                callback();
                alert("错误！" + e);
            }
        });
    }

    // 获取全部角色
    function getRoles() {
        $.ajax({
            url: "../simple/role/listAll",
            type: "post",
            dataType: "json",
            // data:{},
            success: function (data) {
                var roleSelect = $("#role")[0].selectize;
                for (var i = 0; i < data.length; i++) {
                    var role = data[i];
                    roleSelect.addOption({id: role.id, name: role.name});
                }
                roleSelect.refreshOptions();
                // roleSelect.addItem(1);// 设置默认选中
            },
            error: function (e) {
                // TODO: 统一错误处理
                alert("错误！" + e);
            }
        });
    }

    function showRoleModal(userId, userLoginName) {
        var roleSelect = $("#role")[0].selectize;
        roleSelect.clear();// 列表每行公用模态框，打开之前别忘记清空角色下拉框
        $("#userId").val(userId);
        $("#userLoginName").text(userLoginName);
        $("#roleModal").modal("show");
        // 设置roleId下拉框
        var users = [[${users}]];
        var roleIds = [];
        for (var i = 0; i < users.length; i++) {
            var user = users[i];
            if (user.id == userId) {
                var roles = user.roles;
                if (roles.length > 0) {
                    for (var j = 0; j < roles.length; j++) {
                        roleIds.push(roles[j].id);
                    }
                    break;
                }
            }
        }
        roleSelect.setValue(roleIds);
    }

    function associateRole() {
        var roleSelect = $("#role")[0].selectize;
        var roleIds = roleSelect.getValue(); // 数组
        var userId = $("#userId").val();
        var arr = [];
        roleIds.forEach(function (e) {
            arr.push({"userId": userId, "roleId": e});
        });
        $.ajax({
            url: "associateRole",
            type: "post",
            contentType:"application/json;charset=UTF-8",
            dataType: "json",
            data: JSON.stringify(arr),
            success: function (json) {
                // TODO: 统一提示处理
                alert(json.msg);
                window.location.reload(true);
            },
            error: function (e) {
                debugger
                // TODO: 统一错误处理
                alert("错误！" + e);
            }
        });
    }

</script>

<!-- TODO: 删除 -->
<script th:inline="javascript">
    $(function () {
        // 初始化菜单
//        initMenu();
    });

    function initMenu() {
        $.ajax({
            url: "../simple/role/listNameIsLike",
            type: "post",
            dataType: "json",
            data: {
                name: query
            },
            success: function (data) {

            },
            error: function (e) {
                alert("错误！" + e);
            }
        });
    }

    function changeActive(obj) {
        var currentA = $(obj);
        var currentLi = currentA.parent();
        if (currentLi.hasClass("active")) {
            return;
        }
        var parentUl = currentLi.parent();
        parentUl.children("li[class='active']").removeClass("active");
        currentLi.addClass("active");
    }
</script>
</body>
</html>