header {
    margin-bottom: 50px; /* 与navbar高度保持一致 */
}

.current {
    width: 100%;
    height: 47px;
    text-align: left;
    line-height: 47px;
    color: #575858;
    font-size: 12px;
}

.content {
    width: 100%
}

.copyright {
    width: 100%;
    height: 47px;
    margin-top: 10px;
    text-align: left;
    line-height: 47px;
    color: #575858;
    font-size: 12px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    /* 这三句设置宽度全屏 - start */
    right: 0;
    left: 0;
    position: fixed;
    /* 这三句设置宽度全屏 - end   */
}

.checkbox {
    margin-left: -20px !important;
}

.checkbox-inline {
    padding-top: 0px !important;
}
