<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>roleList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">角色列表</div>
<!-- 内容 -->
<div class="content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <th scope="row" th:text="${role.id}"></th>
            <td th:text="${role.name}"></td>
            <td th:text="${role.code}"></td>
            <td th:text="${role.description}"></td>
            <td><a th:href="@{/simple/role/toEdit(id=${role.id})}">edit</a></td>
            <td><a th:href="@{/simple/role/delete(id=${role.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/simple/role/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>