<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>roleEdit</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/icheck/skins/minimal/blue.css}"/>
    <script th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/icheck/icheck.js}"></script>
</head>
<body class="container">
<!-- 引入header - 通过tag名称引用 -->
<header th:replace="common/header :: header"></header>
<!-- 当前位置 -->
<div class="current">修改角色</div>
<!-- 内容 -->
<div class="content">
    <form class="form-horizontal" th:action="@{/simple/role/edit}" th:object="${role}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <input type="hidden" name="menus" id="menus"/>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" id="name" th:value="*{name}"
                       placeholder="Name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="code" id="code" th:value="*{code}" placeholder="Code"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="description" id="description" th:value="*{description}"
                       placeholder="Description"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Menu</label>
            <div id="allMenus" class="checkbox col-sm-10">
                <label class="checkbox-inline">

                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/simple/role/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>

<script th:inline="javascript">
    var menuIds = new Set();
    $(function () {
        var allMenus = [[${allMenus}]];
        var menus = [[${menus}]];
        var html = "";
        // 初始化菜单checkbox
        allMenus.forEach(function (e) {
            html += "<label class='checkbox-inline'><input type='checkbox' id='menu" + e.id + "' value='" + e.id + "'>&nbsp;" + e.name + "</label>";
        });
        $("#allMenus").html(html);
        // 激活iCheck
        $("input[id^='menu']:checkbox").iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue',
            increaseArea: '20%' // optional
        });
        // 绑定click事件
        $("input[id^='menu']:checkbox").on('ifClicked', function (event) {
            var id = $(this).val();
            if ($(this).is(":checked")) {
                if (menuIds.has(id)) {
                    menuIds.delete(id);
                }
            } else {
                menuIds.add(id);
            }
            $(this).iCheck('toggle');
            $("#menus").val(Array.from(menuIds).toString());
        });
        // 设置选中状态
        debugger
        menus.forEach(function (e) {
            if (e && e.id != null) {
                menuIds.add(e.id);
                var checkbox = $("#menu" + e.id);
                if (checkbox) {
                    checkbox.iCheck("check");
                }
            }
        });
    });
</script>

</body>
</html>
