<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.SimpleRolePermissionMapper" >
  <resultMap id="BaseResultMap" type="model.SimpleRolePermission" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
</mapper>