<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ind.lgh.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="ind.lgh.system.domain.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="created_by" property="createdBy" jdbcType="INTEGER"/>
        <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP"/>
        <result column="deleted" property="deleted" jdbcType="BIT"/>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="account_expired" property="accountExpired" jdbcType="BIT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="hashed_password" property="hashedPassword" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,login_name,phone,date_created
    </sql>

    <select id="selectByPhone" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM
        SYS_USER s
        WHERE
        s.phone = #{phone,jdbcType=VARCHAR}
    </select>

</mapper>